table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    padding: 10px;
    font-weight: bold;
}

thead {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

dialog {
    border-radius: 5px;
    border: 1px solid black;
    padding: 40px;
    min-width: 300px;
}

dialog::backdrop {
    backdrop-filter: blur(2px);
}

input[type=text],
input[type=tel] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid gray;

}

label {
    display: block;
    margin-top: 10px;
}

fieldset {
    margin-top: 10px;
    border-radius: 5px;
}


.radio>label {
    display: inline-block;
}